# Б1 Кластеризация
    выполнил Сергей Харитонов МИВТ-221

# Задание
Разбить заданный датасет на 5 кластеров и на 2 кластера, используя агломеративный иерархический метод и метод к-средних;
Сравнить результаты;
Данные выбрать из папки data (ссылка на нее приложена) в соответствии с файлом "список заданий".

# Вариант
sales_data.csv
Поля:
- flag:   Была ли совершена покупка
- gender: Пол
- education: Образование
- house_val: Стоимость дома
- age: Возрастная группа
- online: Был ли опыт онлайн покупок
- customer_psy: Переменная, описывающая психологию потребителя в зависимости от района проживания (что бы это ни было)
- marriage: Семейный статус
- child: Есть ли дети
- occupation: Информация о карьере покупателя
- mortgage: Информация о кредите на жилье
- house_owner: В какой собственности дом
- region: Регион проживания
- car_prob: Вероятность того, что клиент купит новый автомобиль
- fam_income: Информация о семейном доходе клиента (A означает самый низкий, а L - самый высокий)

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from sklearn.cluster import KMeans, AgglomerativeClustering
from scipy.cluster.hierarchy import dendrogram
import matplotlib.pyplot as plt

# Константы для визуализации кластеров
CLUSTERS = [
    # (color, sign)
    ('lightgreen', 's'),
    ('orange', 'o'),
    ('lightblue', 'v'),
    ('fuchsia', '*'),
    ('black', 'd'),
    ('blue', 's'),
    ('pink', 'o'),
    ('purple', 'v'),
    ('yellow', '*'),
    ('cyan', 'd'),
]
CENTROIDS = ('red', 'P')

In [2]:
# Загрузка данных в память
data = pd.read_csv('data.csv')

In [3]:
# Вывод информации о датасете
def data_analise(_data: DataFrame):
    _data.info()
    _data.describe()
    _data.nunique()
    feature_names = _data.columns.tolist()
    for column in feature_names:
        print(column)
        print(_data[column].value_counts(dropna=False))
        print()


data_analise(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   flag          40000 non-null  object
 1   gender        40000 non-null  object
 2   education     39259 non-null  object
 3   house_val     40000 non-null  int64
 4   age           40000 non-null  object
 5   online        40000 non-null  object
 6   customer_psy  40000 non-null  object
 7   marriage      25973 non-null  object
 8   child         40000 non-null  object
 9   occupation    40000 non-null  object
 10  mortgage      40000 non-null  object
 11  house_owner   36623 non-null  object
 12  region        40000 non-null  object
 13  car_prob      40000 non-null  int64
 14  fam_income    40000 non-null  object
dtypes: int64(2), object(13)
memory usage: 4.6+ MB
flag
Y    20000
N    20000
Name: flag, dtype: int64

gender
M    22019
F    16830
U     1151
Name: gender, dtype: int64

education
2. Some College    11400
3. Bach             9267
1. HS               8828
4. Grad             5916
0. <HS              3848
NaN                  741
Name: education, dtype: int64

house_val
0          7696
1000000      96
1500000      51
2000000      36
294300       29
           ...
232394        1
75962         1
297631        1
734006        1
213596        1
Name: house_val, Length: 19572, dtype: int64

age
5_<=55    8103
4_<=45    7115
1_Unk     6709
6_<=65    5907
3_<=35    4984
7_>65     4822
2_<=25    2360
Name: age, dtype: int64

online
Y    27319
N    12681
Name: online, dtype: int64

customer_psy
B    8197
C    7830
E    6650
F    4058
G    3951
D    2353
I    2262
J    2187
A    1427
H     958
U     127
Name: customer_psy, dtype: int64

marriage
Married    20891
NaN        14027
Single      5082
Name: marriage, dtype: int64

child
Y    18012
N    13333
U     8528
0      127
Name: child, dtype: int64

occupation
Professional     14936
Sales/Service    11767
Blue Collar       6621
Retired           4341
Others            2006
Farm               329
Name: occupation, dtype: int64

mortgage
1Low     29848
3High     5349
2Med      4803
Name: mortgage, dtype: int64

house_owner
Owner     29232
Renter     7391
NaN        3377
Name: house_owner, dtype: int64

region
South        15676
West          8725
Midwest       8107
Northeast     7247
Rest           245
Name: region, dtype: int64

car_prob
1    11836
2     7421
3     5495
4     3001
5     2855
8     2802
9     2302
7     2104
6     2057
0      127
Name: car_prob, dtype: int64

fam_income
E    8432
F    6641
D    4582
G    4224
C    2687
H    2498
A    2274
B    2169
I    1622
L    1617
J    1614
K    1487
U     153
Name: fam_income, dtype: int64

In [4]:
# мапинги преобразования данных
Y_N_mapping = {
    'Y': 1,
    'N': 0
}

letter_mapping = lambda letter: (ord(letter) - ord('A') + 1) if letter != 'U' else 0

get_first_number = lambda value: int(value[0])
value_or_nan = lambda mapping, nan_value: (
    lambda value: mapping(value)
    if type(value) is str
    else nan_value
)

mapping = {
    'flag': Y_N_mapping,
    'gender': {
        'M': 2,
        'F': 1,
        'U': 0
    },
    # NaN приравнивается к коледжу, т.к. у большей части именно такое образование
    'education': value_or_nan(get_first_number, 2),
    'age': get_first_number,
    'online': Y_N_mapping,
    'customer_psy': letter_mapping,
    'marriage': value_or_nan(lambda value: {'Married': 2, 'Single': 0}[value], 1),
    'child': {
        **Y_N_mapping,
        '0': 0,
        'U': 2
    },
    'occupation': {
        'Professional': 1,
        'Sales/Service': 2,
        'Blue Collar': 3,
        'Retired': 4,
        'Others': 5,
        'Farm': 6,
    },
    'mortgage': get_first_number,
    'house_owner': value_or_nan(lambda value: {'Renter': 2, 'Owner': 1}[value], 0),
    'region': {
        'South': 1,
        'West': 2,
        'Midwest': 3,
        'Northeast': 4,
        'Rest': 5,
    },
    'fam_income': letter_mapping,
}

In [5]:
# Приведение датасета в необходимое состояние
for column, column_mapping in mapping.items():
    data[column] = data[column] \
        .map(column_mapping)
# Нормализация
data = (data - data.min()) / (data.max() - data.min())

In [6]:
data_analise(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   flag          40000 non-null  float64
 1   gender        40000 non-null  float64
 2   education     40000 non-null  float64
 3   house_val     40000 non-null  float64
 4   age           40000 non-null  float64
 5   online        40000 non-null  float64
 6   customer_psy  40000 non-null  float64
 7   marriage      40000 non-null  float64
 8   child         40000 non-null  float64
 9   occupation    40000 non-null  float64
 10  mortgage      40000 non-null  float64
 11  house_owner   40000 non-null  float64
 12  region        40000 non-null  float64
 13  car_prob      40000 non-null  float64
 14  fam_income    40000 non-null  float64
dtypes: float64(15)
memory usage: 4.6 MB
flag
1.0    20000
0.0    20000
Name: flag, dtype: int64

gender
1.0    22019
0.5    16830
0.0     1151
Name: gender, dtype: int64

education
0.50    12141
0.75     9267
0.25     8828
1.00     5916
0.00     3848
Name: education, dtype: int64

house_val
0.000000    7696
0.100000      96
0.150000      51
0.200000      36
0.029430      29
            ...
0.023239       1
0.007596       1
0.029763       1
0.073401       1
0.021360       1
Name: house_val, Length: 19572, dtype: int64

age
0.666667    8103
0.500000    7115
0.000000    6709
0.833333    5907
0.333333    4984
1.000000    4822
0.166667    2360
Name: age, dtype: int64

online
1.0    27319
0.0    12681
Name: online, dtype: int64

customer_psy
0.2    8197
0.3    7830
0.5    6650
0.6    4058
0.7    3951
0.4    2353
0.9    2262
1.0    2187
0.1    1427
0.8     958
0.0     127
Name: customer_psy, dtype: int64

marriage
1.0    20891
0.5    14027
0.0     5082
Name: marriage, dtype: int64

child
0.5    18012
0.0    13460
1.0     8528
Name: child, dtype: int64

occupation
0.0    14936
0.2    11767
0.4     6621
0.6     4341
0.8     2006
1.0      329
Name: occupation, dtype: int64

mortgage
0.0    29848
1.0     5349
0.5     4803
Name: mortgage, dtype: int64

house_owner
0.5    29232
1.0     7391
0.0     3377
Name: house_owner, dtype: int64

region
0.00    15676
0.25     8725
0.50     8107
0.75     7247
1.00      245
Name: region, dtype: int64

car_prob
0.111111    11836
0.222222     7421
0.333333     5495
0.444444     3001
0.555556     2855
0.888889     2802
1.000000     2302
0.777778     2104
0.666667     2057
0.000000      127
Name: car_prob, dtype: int64

fam_income
0.416667    8432
0.500000    6641
0.333333    4582
0.583333    4224
0.250000    2687
0.666667    2498
0.083333    2274
0.166667    2169
0.750000    1622
1.000000    1617
0.833333    1614
0.916667    1487
0.000000     153
Name: fam_income, dtype: int64

In [7]:
data.describe()
print(data)

       flag  gender  education  house_val       age  online  customer_psy  \
0       1.0     1.0       1.00   0.075646  0.000000     0.0           0.2
1       0.0     0.5       0.75   0.021317  1.000000     0.0           0.5
2       0.0     1.0       0.50   0.011115  0.166667     1.0           0.3
3       1.0     1.0       0.50   0.035415  0.166667     1.0           0.2
4       1.0     0.5       0.50   0.011709  0.000000     1.0           1.0
...     ...     ...        ...        ...       ...     ...           ...
39995   1.0     0.5       0.75   0.000000  1.000000     1.0           0.3
39996   0.0     0.5       0.25   0.021360  0.500000     0.0           0.9
39997   1.0     1.0       0.00   0.013407  0.333333     1.0           0.6
39998   0.0     1.0       0.25   0.040221  1.000000     1.0           0.5
39999   0.0     0.5       0.75   0.083603  1.000000     1.0           0.2

       marriage  child  occupation  mortgage  house_owner  region  car_prob  \
0           0.5    1.0         0.0       0.0          0.0    0.50  0.111111
1           0.5    1.0         0.0       0.0          0.5    0.75  0.333333
2           0.5    0.5         0.0       0.0          0.5    0.50  0.111111
3           0.0    1.0         0.2       0.0          0.0    0.25  0.222222
4           1.0    0.5         0.2       0.0          0.0    0.00  0.777778
...         ...    ...         ...       ...          ...     ...       ...
39995       0.5    1.0         0.6       0.0          0.0    0.00  0.333333
39996       1.0    1.0         0.4       0.0          0.5    0.00  0.111111
39997       1.0    1.0         0.2       0.0          0.5    0.50  0.444444
39998       0.5    0.5         0.2       0.0          0.0    0.25  0.222222
39999       1.0    0.0         0.6       0.5          0.5    0.75  0.111111

       fam_income
0        1.000000
1        0.583333
2        0.833333
3        1.000000
4        0.666667
...           ...
39995    0.500000
39996    0.333333
39997    0.416667
39998    0.166667
39999    0.833333

[40000 rows x 15 columns]

In [8]:
clustered_data_with_flag = data.assign(cluster_all=
                                        KMeans(
                                            n_clusters=2,
                                            init='random',
                                            n_init=10,
                                            random_state=0
                                        ).fit_predict(data)
                                        )
clustered_data_without_flag = data.assign(cluster_all=
                                        KMeans(
                                            n_clusters=2,
                                            init='random',
                                            n_init=10,
                                            random_state=0
                                        ).fit_predict(data.iloc[: , 1:])
                                        )

In [9]:

def accuracy(data: DataFrame):
    TP_plus_TN = len(data[data.flag == data.cluster_all])
    FP_plus_FN = len(data[data.flag != data.cluster_all])
    return TP_plus_TN / (FP_plus_FN + TP_plus_TN)

In [10]:
print(f'Точность классификации с колонкой флаг {accuracy(clustered_data_with_flag)}')
print(f'Точность классификации без колонки флаг {accuracy(clustered_data_without_flag)}')

Точность классификации с колонкой флаг 0.9995
Точность классификации без колонки флаг 0.599575

In [11]:
clustered_data_with_flag.to_csv('clustered_data_with_flag.csv', index=False)
clustered_data_without_flag.to_csv('clustered_data_without_flag.csv', index=False)