Поля:
- flag: Была ли совершена покупка
- gender: Пол
- education: Образование
- house_val: Стоимость дома
- age: Возрастная группа
- online: Был ли опыт онлайн покупок
- customer_psy: Переменная, описывающая психологию потребителя в зависимости от района проживания (что бы это ни было)
- marriage: Семейный статус
- child: Есть ли дети
- occupation: Информация о карьере покупателя
- mortgage: Информация о кредите на жилье
- house_owner: В какой собственности дом
- region: Регион проживания
- car_prob: Вероятность того, что клиент купит новый автомобиль
- fam_income: Информация о семейном доходе клиента (A означает самый низкий, а L - самый высокий)

In [1]:
import pandas as pd

In [10]:
data = pd.read_csv('data.csv')

In [11]:
from pandas import DataFrame


# Вывод информации о датасете
def data_analise(_data: DataFrame):
    _data.info()
    _data.describe()
    _data.nunique()
    feature_names = _data.columns.tolist()
    for column in feature_names:
        print(column)
        print(_data[column].value_counts(dropna=False))
        print()


data_analise(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   flag          40000 non-null  object
 1   gender        40000 non-null  object
 2   education     39259 non-null  object
 3   house_val     40000 non-null  int64
 4   age           40000 non-null  object
 5   online        40000 non-null  object
 6   customer_psy  40000 non-null  object
 7   marriage      25973 non-null  object
 8   child         40000 non-null  object
 9   occupation    40000 non-null  object
 10  mortgage      40000 non-null  object
 11  house_owner   36623 non-null  object
 12  region        40000 non-null  object
 13  car_prob      40000 non-null  int64
 14  fam_income    40000 non-null  object
dtypes: int64(2), object(13)
memory usage: 4.6+ MB
flag
Y    20000
N    20000
Name: flag, dtype: int64

gender
M    22019
F    16830
U     1151
Name: gender, dtype: int64

education
2. Some College    11400
3. Bach             9267
1. HS               8828
4. Grad             5916
0. <HS              3848
NaN                  741
Name: education, dtype: int64

house_val
0          7696
1000000      96
1500000      51
2000000      36
294300       29
           ...
232394        1
75962         1
297631        1
734006        1
213596        1
Name: house_val, Length: 19572, dtype: int64

age
5_<=55    8103
4_<=45    7115
1_Unk     6709
6_<=65    5907
3_<=35    4984
7_>65     4822
2_<=25    2360
Name: age, dtype: int64

online
Y    27319
N    12681
Name: online, dtype: int64

customer_psy
B    8197
C    7830
E    6650
F    4058
G    3951
D    2353
I    2262
J    2187
A    1427
H     958
U     127
Name: customer_psy, dtype: int64

marriage
Married    20891
NaN        14027
Single      5082
Name: marriage, dtype: int64

child
Y    18012
N    13333
U     8528
0      127
Name: child, dtype: int64

occupation
Professional     14936
Sales/Service    11767
Blue Collar       6621
Retired           4341
Others            2006
Farm               329
Name: occupation, dtype: int64

mortgage
1Low     29848
3High     5349
2Med      4803
Name: mortgage, dtype: int64

house_owner
Owner     29232
Renter     7391
NaN        3377
Name: house_owner, dtype: int64

region
South        15676
West          8725
Midwest       8107
Northeast     7247
Rest           245
Name: region, dtype: int64

car_prob
1    11836
2     7421
3     5495
4     3001
5     2855
8     2802
9     2302
7     2104
6     2057
0      127
Name: car_prob, dtype: int64

fam_income
E    8432
F    6641
D    4582
G    4224
C    2687
H    2498
A    2274
B    2169
I    1622
L    1617
J    1614
K    1487
U     153
Name: fam_income, dtype: int64

In [12]:
# мапинги преобразования данных
Y_N_mapping = {
    'Y': 1,
    'N': 0
}

letter_mapping = lambda letter: (ord(letter) - ord('A') + 1) if letter != 'U' else 0

get_first_number = lambda value: int(value[0])
value_or_nan = lambda mapping, nan_value: (
    lambda value: mapping(value)
    if type(value) is str
    else nan_value
)

mapping = {
    'flag': Y_N_mapping,
    'gender': {
        'M': 2,
        'F': 1,
        'U': 0
    },
    # NaN приравнивается к коледжу, т.к. у большей части именно такое образование
    'education': value_or_nan(get_first_number, 2),
    'age': get_first_number,
    'online': Y_N_mapping,
    'customer_psy': letter_mapping,
    'marriage': value_or_nan(lambda value: {'Married': 2, 'Single': 0}[value], 1),
    'child': {
        **Y_N_mapping,
        '0': 0,
        'U': 2
    },
    'occupation': {
        'Professional': 1,
        'Sales/Service': 2,
        'Blue Collar': 3,
        'Retired': 4,
        'Others': 5,
        'Farm': 6,
    },
    'mortgage': get_first_number,
    'house_owner': value_or_nan(lambda value: {'Renter': 2, 'Owner': 1}[value], 0),
    'region': {
        'South': 1,
        'West': 2,
        'Midwest': 3,
        'Northeast': 4,
        'Rest': 5,
    },
    'fam_income': letter_mapping,
}

In [13]:
# Приведение датасета в необходимое состояние
for column, column_mapping in mapping.items():
    data[column] = data[column] \
        .map(column_mapping)

In [14]:
data_analise(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   flag          40000 non-null  int64
 1   gender        40000 non-null  int64
 2   education     40000 non-null  int64
 3   house_val     40000 non-null  int64
 4   age           40000 non-null  int64
 5   online        40000 non-null  int64
 6   customer_psy  40000 non-null  int64
 7   marriage      40000 non-null  int64
 8   child         40000 non-null  int64
 9   occupation    40000 non-null  int64
 10  mortgage      40000 non-null  int64
 11  house_owner   40000 non-null  int64
 12  region        40000 non-null  int64
 13  car_prob      40000 non-null  int64
 14  fam_income    40000 non-null  int64
dtypes: int64(15)
memory usage: 4.6 MB
flag
1    20000
0    20000
Name: flag, dtype: int64

gender
2    22019
1    16830
0     1151
Name: gender, dtype: int64

education
2    12141
3     9267
1     8828
4     5916
0     3848
Name: education, dtype: int64

house_val
0          7696
1000000      96
1500000      51
2000000      36
294300       29
           ...
232394        1
75962         1
297631        1
734006        1
213596        1
Name: house_val, Length: 19572, dtype: int64

age
5    8103
4    7115
1    6709
6    5907
3    4984
7    4822
2    2360
Name: age, dtype: int64

online
1    27319
0    12681
Name: online, dtype: int64

customer_psy
2     8197
3     7830
5     6650
6     4058
7     3951
4     2353
9     2262
10    2187
1     1427
8      958
0      127
Name: customer_psy, dtype: int64

marriage
2    20891
1    14027
0     5082
Name: marriage, dtype: int64

child
1    18012
0    13460
2     8528
Name: child, dtype: int64

occupation
1    14936
2    11767
3     6621
4     4341
5     2006
6      329
Name: occupation, dtype: int64

mortgage
1    29848
3     5349
2     4803
Name: mortgage, dtype: int64

house_owner
1    29232
2     7391
0     3377
Name: house_owner, dtype: int64

region
1    15676
2     8725
3     8107
4     7247
5      245
Name: region, dtype: int64

car_prob
1    11836
2     7421
3     5495
4     3001
5     2855
8     2802
9     2302
7     2104
6     2057
0      127
Name: car_prob, dtype: int64

fam_income
5     8432
6     6641
4     4582
7     4224
3     2687
8     2498
1     2274
2     2169
9     1622
12    1617
10    1614
11    1487
0      153
Name: fam_income, dtype: int64

In [15]:
data.describe()

,flag,gender,education,house_val,age,online,customer_psy,marriage,child,occupation,mortgage,house_owner,region,car_prob,fam_income
count,40000.000000,40000.000000,40000.000000,4.000000e+04,40000.000000,40000.000000,40000.00000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000
mean,0.500000,1.521700,2.114375,3.072138e+05,4.113800,0.682975,4.64675,1.395225,0.876700,2.192525,1.387525,1.100350,2.191500,3.491150,5.776450
std,0.500006,0.554154,1.189844,4.222146e+05,1.932742,0.465323,2.48907,0.702235,0.731102,1.232456,0.710501,0.509054,1.156616,2.577719,2.720471
min,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000,0.00000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,8.065725e+04,3.000000,0.000000,3.00000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000
50%,0.500000,2.000000,2.000000,2.148720e+05,4.000000,1.000000,5.00000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000,3.000000,5.000000
75%,1.000000,2.000000,3.000000,3.937620e+05,6.000000,1.000000,6.00000,2.000000,1.000000,3.000000,2.000000,1.000000,3.000000,5.000000,7.000000
max,1.000000,2.000000,4.000000,9.999999e+06,7.000000,1.000000,10.00000,2.000000,2.000000,6.000000,3.000000,2.000000,5.000000,9.000000,12.000000